.picContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;  
}

.largePic {
     width: 276px;
    height: 374px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
 }

 