.containerAllShop {
  font-family: Crimson-Pro;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  margin-top: 50px;
}

.mainContainer:hover {
  transform: scale(1.1, 1.1);
  z-index: 9;
  box-shadow: 0 0 5px 1px rgb(243, 231, 231);
}

.mainContainer {
  width: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
