.userContainer {
    display: flex;
    width: 500px;
    height: 395px;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    background-color: rgb(234, 229, 238);
    text-align: center;
    box-shadow: 0 0 2px 3px rgb(243, 231, 231);
    margin-top: 10px;
    margin-bottom: 20px;
}

.userText {
    color:#101014;
    font-weight: 3px;
}