.container {
  width: 100%;
  height: 60px;
  background-color: #8568ff;
  display: flex;
  align-items: center;
}

.optionsContainer {
  background-color: #8568ff;
  min-width: 30%;
  max-width: 60%;
  height: 60px;
  display: flex;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
}

.linksContainer {
  width: 400px;
  height: 50px;
  background-color: #8568ff;
  margin-left: 100px;
}

.links {
  width: 400px;
  height: 25px;
  /* background-color: grey; */
  margin-top: 17px;
  margin-left: 40px;
  text-decoration: none;
}

.searchContainer {
  width: 180px;
  height: 20px;
  background-color: rgb(238, 227, 233);
  margin-right: 50px;
  box-shadow:none;
}

.iconsContainer {
  min-width: 10%;
  max-width: 15%;
  height: 60px;
  background-color: #8568ff;
}

.icons {
margin-top: 20px;
margin-left: 40px;
margin-right: 20px;

}