.image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: auto;
}

.image:hover {
  transform: scale(1.1, 1);
  box-shadow: 0 0 2px 3px rgb(243, 231, 231);
}
