.containerBanner {
    width: 100%;
    height: 300px;
    background-color:#8568FF;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 180px;
}

.conatinerText {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    line-height: 40px;
    align-items: center;
    font-size: 24px;
}

.containerImg {
    display: flex;
    align-items: flex-end;
}